// Override default variables before the import
$body-bg: #000;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 4px;
}

.green-icon {
  color: #5ceb1f; 
}

.green-button {
  background-color: #5ceb1f;
  border-color: #5ceb1f;
  
  &:hover {
    background-color: #2F9A44; 
    border-color: #2F9A44;
  }
}
